*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main{
    width: 100%;
    height: 100vh;
    background-color: #201E35;
}

.flipcard{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.front, .back{
    margin-top: 200px;
    position:absolute;
    width: 350px;
    height: 400px;
    padding: 60px 40px;
	border: solid 2px #fff;
	background-color: #1b1b93;
    border-radius: 8px;
    cursor: pointer;
}

.front{
	background-position:center;
	transition: all .3s linear .3s;
}

.back{
	transition: all .3s linear 0s;
    transform:perspective(800px) rotateY(-90deg);
}

.image_account{
    padding: 10px;
    width: 50%;
    height: auto;
}

.image_click{
    width: 10%;
    height: auto;
    margin-left: 260px;
    margin-top: 50px;
}

.name{
    padding: 20px;
}

.job{
    font-size: 23px;
    font-weight: 300;
}

.skills_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
}

.skills{
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    cursor: default;
    background-color: #1b1b5e;
}

.social_media{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.social_icon{
    color: #fff;
    padding: 10px;
    font-size: 30px;
    transition: all .2s;
}

.social_icon:hover{
    color: rgb(145, 134, 134);
}

#cbx:checked + .front{
	transform:perspective(800px) rotateY(90deg);
	 transition: all .3s linear 0s;
}

#cbx:checked ~ .back{
	transform:perspective(800px) rotateY(0deg);
	 transition: all .3s linear .3s;
}

#cbx{
	display:none;
}
